@import '../../mixin';

.cart {
    padding: 100px 0 60px;
    margin: auto;
    width: 85%;
    margin-bottom: 60px;
    background-color: #181616;

    @include breakpoint('lg') {
        width: 95%;
    }

    &__title {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 35px;
    }

    &__items-holder {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 75px;
        padding: 20px 0;
        font-size: 18px;
        font-weight: 500;        

        img {
            width: 50px;
            transform: rotate(-90deg);
            margin-left: 90px;

            @include breakpoint('md') {
                margin-left: 20px;
            }
            @include breakpoint('xs') {
                transform: rotate(0deg);
            }
        }

        @include breakpoint('lg') {
            font-size: 13px;
            font-weight: 400;
            gap: 50px;
            padding: 0;
        }

        @include breakpoint('xs') {
            font-size: 10px;
            grid-template-columns: 1fr;
            justify-items: center;
            grid-gap: 20px;
            margin-bottom: 25px;
            padding: 10px;
        }
    }

    .red-btn {
        width: 200px;
        font-size: 15px;

        @include breakpoint('md') {
            width: 150px;
            height: 50px;
            padding: 5px;
        }

        @include breakpoint('sm') {
            width: 100px;
            height: 40px;
            font-size: 10px;
        }
    }

    .empty-cart {
        text-align: center;

        &__text {
            display: block;
            margin-bottom: 15px;
            color: rgb(135, 133, 133);
            @include breakpoint('xs') {
                font-size: 13px;
            }
        }

        &__empty-text {
            text-transform: uppercase;
            font-size: 20px;
            margin-bottom: 25px;
            @include breakpoint('xs') {
                font-size: 17px;
            }
        }

        img {
            margin-bottom: 15px;

            @include breakpoint('xs') {
                width: 50%;
            }
        }

        .red-btn {
            display: block;
            margin: 0 auto;
            padding: 15px 25px;
            width: 45%;
            color: #fff;
            border: none;
            font-size: 20px;
            font-weight: 500;

            &:hover {
                color: #fff !important;
                background-color: #181616;
                border: 1px solid #fff;
            }
            
            &:active {
                background-color: #8e1d1d;
            }

            @include breakpoint('md') {
                width: 50%;
                font-size: 15px;
            }

            @include breakpoint('sm') {
                width: 80%;
                height: 50px;
                font-size: 13px;
            }
        }
    }

}